<div id="<%= dom_id prog_tae %>" class="table-responsive-sm">
  <tbody>
    <table id="view_progs" class="table table-striped table-clean table-bordered table-hover">
      <tr>
        <td class="fixo5">
          <%= prog_tae.siape %>
        </td>

        <td class="fixo2">
          <%= prog_tae.nome %>  
        </td>

        <td class="fixo6">
          <%= prog_tae.portaria %>
        </td>

        <td class="fixo1">
          <%= prog_tae.classe %>
        </td>

        <td class="fixo1">
          <%= prog_tae.nivel_padrao_atual %>
        </td>

        <td class="fixo1">
          <%= prog_tae.nivel_padrao_novo %>
        </td>

        <td class="fixo3">
          <%= prog_tae.inicio_prog %>
        </td>

        <td class="fixo3">
          <%= prog_tae.fim_prog %>
        </td>

        <td class="fixo1">
          <%= prog_tae.iq_atual %>
        </td>

        <td class="fixo1">
          <%= prog_tae.iq_novo %>
        </td>

        <td class="fixo4">
          <%= prog_tae.anuenio %>
        </td>

        <td class="fixo4">
          <%= prog_tae.insalubridade %>
        </td>

        <td class="fixo4">
          <%= prog_tae.medico %>
        </td>

        <td class="fixo4">
          <%= prog_tae.venc_basico_comp %>
        </td>

        <td class="crud">
          <span>
          <%= link_to "", edit_prog_tae_path(prog_tae),
            class: "bi bi-pencil-square" %>
          </span>
        </td>

        <td class="crud">
          <span><%= link_to "", prog_tae, 
            method: :delete, 
            data: {confirm: "Tem certeza que deseja excluir este registro?"},
            class: "btn btn-danger bi bi-trash"%></span>

        <td class="crud">
          <span><%= button_to "", prog_tae, 
            class: "btn btn-info bi bi-play-btn"%></span>
        </td>

        <td class="crud">
          <span><%= button_to "", prog_tae, 
            class: "btn btn-success bi bi-filetype-xls"%></span>
        </td>
      </tr>
    </table>
  </tbody>
</div>

<div></div>
