<div id="<%= dom_id prog_tae %>">
  <p>
    <strong>Siape:</strong>
    <%= prog_tae.siape %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= prog_tae.nome %>
  </p>

  <p>
    <strong>Portaria:</strong>
    <%= prog_tae.portaria %>
  </p>

  <p>
    <strong>Classe:</strong>
    <%= prog_tae.classe %>
  </p>

  <p>
    <strong>Nivel padrao atual:</strong>
    <%= prog_tae.nivel_padrao_atual %>
  </p>

  <p>
    <strong>Nivel padrao novo:</strong>
    <%= prog_tae.nivel_padrao_novo %>
  </p>

  <p>
    <strong>Inicio prog:</strong>
    <%= prog_tae.inicio_prog %>
  </p>

  <p>
    <strong>Fim prog:</strong>
    <%= prog_tae.fim_prog %>
  </p>

  <p>
    <strong>Iq atual:</strong>
    <%= prog_tae.iq_atual %>
  </p>

  <p>
    <strong>Iq novo:</strong>
    <%= prog_tae.iq_novo %>
  </p>

  <p>
    <strong>Anuenio:</strong>
    <%= prog_tae.anuenio %>
  </p>

  <p>
    <strong>Insalubridade:</strong>
    <%= prog_tae.insalubridade %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= prog_tae.medico %>
  </p>

  <p>
    <strong>Venc basico comp:</strong>
    <%= prog_tae.venc_basico_comp %>
  </p>

</div>
