       <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">SEPAB/DAF/PROGESP/CP2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><%= link_to "Home", home_path, class: "nav-link"%></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                        <li><% if user_signed_in? %><p class="nav-link text-success">Bem-vindo, <%= current_user.email %>!</p></li>
                            <% else %>
                                
                            <% end %>
                    </ul>
                    <form class="d-flex">

                            <%= user_signed_in? %>
                    
                     
                            <% if user_signed_in? %>
                                <%= link_to " Perfil", edit_user_registration_path, class: "bi-person-circle btn btn-outline-dark" %>
                                <%= link_to " Sair", destroy_user_session_path, method: :delete, class: "bi bi-box-arrow-right btn btn-outline-dark" %>
                            <% else %>
                                <button><%= link_to " Cadastro", new_user_session_path, class: "btn bi-person-circle" %></button>
                                <button><%= link_to " Login", user_session_path, data: { "turbo-method": :delete }, class: "btn bi-person-circle" %></button>
                            <% end %>
                            <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
                        
                    </form>
                    </form>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Ferramentas SIAPE</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Automatizador de Tarefas de Cadastro e Pagamento SIAPE</p>
                </div>
            </div>
        </header>